	
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet" />
	<link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-info">
        <div class="panel-heading">
            <strong>Livro Jenkins - Aplicação Java - Spring Boot</strong>
        </div>
        
        <div class="panel-body">
            <div class="table-responsive">
            	Integração Contínua com Jenkins
            </div>
        </div>
        
     </div>
     
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong><span th:text="${title}"></span></strong>
        </div>
        <div class="panel-body">
            <form id="form" role="form" class="form-horizontal" th:object="${profile}" 
                    th:action="@{/save}" method="POST" style="margin: 10px">
            
            	<p th:text="${feedbackToastr}" />
            	
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>  
                        
            
            			<input type="hidden" th:field="*{id}">
                       
                        <div class="form-group row">                                                          
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                                <label>Name*</label>
                                <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus"  maxlength="50"/>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                <label>Email*</label> 
                                <input type="text" class="form-control input-sm" th:field="*{email}" maxlength="150" />
                            </div>
                        </div>
                        
                       <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('age')}? 'has-error'">
                                <label>Age*</label>
                                 <input type="number" maxlength="3" class="form-control input-sm" th:field="*{age}" />
                            </div>
                        </div>                       
                        
                        
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('postalCode')}? 'has-error'">
                                <label>Postal Code*</label>
                                 <input maxlength="9" placeholder="00000-000" type="text" onkeypress="mascara(this, '#####-###')"
                                        class="form-control input-sm" th:field="*{postalCode}" />
                            </div>
                        </div> 
                        
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('ipAddress')}? 'has-error'">
                                <label>IP*</label>
                                <input  maxlength="15" placeholder="000.000.000.000" type="text" onkeypress="mascara(this, '###.###.###.###')"
                                class="form-control input-sm" th:field="*{ipAddress}"  />
                            </div>
                        </div>                        
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    
    
     <!--/* Mainly scripts */-->
	<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>
	



	<script th:inline="javascript">
	
		$(document).ready(function(){		
			loadToastr();
		});
	
		
		function loadToastr( feedback ){
			var optionsToastr = {
					closeButton: true,
					debug: false,
					progressBar: true,
					preventDuplicates: false,
					timeOut: "7000",
					showEasing: "swing",
					hideEasing: "linear",
					showMethod: "fadeIn",
					hideMethod: "fadeOut",
					onclick: null
				};

			var mensagens = [[${feedback}]];
			if( mensagens == null && feedback != null ){
				mensagens = feedback;
			}

			$.each( mensagens, function( i, v ){
				var type = i, arr = v;
				$.each( arr, function( a, msg ){
					toastr[type]( msg, null, optionsToastr );
				})
			});
		}
		
		 function mascara(t, mask){
			 var i = t.value.length;
			 var saida = mask.substring(1,0);
			 var texto = mask.substring(i)
			 if (texto.substring(0,1) != saida){
				 t.value += texto.substring(0,1);
			 }
		  }
	</script>
</body>
</html>
